/* для элемента input c type="checkbox" */
.custom-checkbox>input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

/* для элемента label, связанного с .custom-checkbox */
.custom-checkbox>p {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

/* создание в label псевдоэлемента before со следующими стилями */
.custom-checkbox>p::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 2px solid #A6A6A6;
  border-radius: 4px;
  margin-right: 12px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 50%;
}

/* стили при наведении курсора на checkbox */
.custom-checkbox>input:not(:disabled):not(:checked)+p:hover::before {
  border-color: #A6A6A6;
}

/* стили для активного чекбокса (при нажатии на него) */
.custom-checkbox>input:not(:disabled):active+p::before {
  background-color: #A6A6A6;
  border-color: #A6A6A6;
}

/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.custom-checkbox>input:focus:not(:checked)+p::before {
  border-color: #A6A6A6;
}

/* стили для чекбокса, находящегося в состоянии checked */
.custom-checkbox>input:checked+p::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("/public/images/mark.svg");
}

/* стили для чекбокса, находящегося в состоянии disabled */
.custom-checkbox>input:disabled+p::before {
  background-color: #e9ecef;
}

.checkbox-error>p::before, .checkbox-error>input:not(:disabled):not(:checked)+p:hover::before, .checkbox-error>input:focus:not(:checked)+p::before {
  border: 2px solid #FB0C68;
}